@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Inika:wght@400;700&display=swap');


.header {
    height: 100px;
    background-color: rgb(121, 105, 84);
}

.d-inline-block {
    border-radius: 50%;
    margin-right: 10%;
}
a.navbar-brand {
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Aboreto', cursive;
    font-family: 'Inika', serif;
}
nav.justify-content-end {
    display: flex;
    justify-content: flex-end;
}
.main-content {
    display: flex;
}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    font-size: large;
    color: white;
}
.content-card {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
#card-about {
    position: absolute;
    top: 30%;
    left: 40%;
    background: #f0f0f0;
}
